.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  height: 100%;
  overflow: hidden;
}
.header {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #3fa7dc;
}
.header .header-left,
.header .header-right {
  position: absolute;
  top: 15px;
  width: 20px;
  height: 20px;
}
.header .header-left {
  left: 10px;
}
.header .header-left.icon-back {
  background: url(../img/icon-back.png) no-repeat center;
  background-size: contain;
}
.header .header-right {
  right: 10px;
}
.header .header-right.icon-menu {
  background: url(../img/icon-menu.png) no-repeat center;
  background-size: contain;
}
.header > h3 {
  position: absolute;
  left: 30px;
  right: 30px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content {
  position: absolute;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: #f1f1f1;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
.footer-sty01 {
  background-color: #3fa7dc;
}
.footer-sty01 > ul > li {
  float: left;
  box-sizing: border-box;
  width: 25%;
  height: 50px;
  line-height: 50px;
  border-right: 1px solid #277eab;
}
.footer-sty01 > ul > li > a {
  display: block;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.calendar {
  position: relative;
  width: 320px;
  height: 34px;
  line-height: 32px;
}
.calendar .calendar-content > input {
  box-sizing: border-box;
  padding-left: 10px;
  width: 200px;
  line-height: 32px;
  border: 1px solid #dddddd;
}
.calendar .calendar-content > span {
  position: absolute;
  margin-left: -1px;
  width: 50px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #dddddd;
  background-color: #f1f1f1;
}
.calendar .calendar-content > span > i {
  padding: 0 10px;
  font-size: 20px;
  background: url(../img/icon-calendar.png) no-repeat center;
  background-size: contain;
}
.calendar > a {
  position: absolute;
  top: 0;
  left: 260px;
  width: 50px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 2px;
  background-color: #3fa7dc;
}
.calendar > a > i {
  padding: 0 10px;
  font-size: 20px;
  background: url(../img/icon-search.png) no-repeat center;
  background-size: contain;
}
.icon-next {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/icon-next.png) no-repeat center center;
  background-size: contain;
}
.icon-bottom {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 10px;
  right: 10px;
  background: url(../img/icon-bottom.png) no-repeat center;
  background-size: contain;
}
.dotted-line {
  border: 0;
  border-top: 1px dashed #ccc;
}
.tabs .title {
  zoom: 1;
}
.tabs .title > li {
  float: left;
  margin-right: 4px;
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #999;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #fff;
}
.tabs .title > li.active {
  color: #3fa7dc;
  border-bottom-color: #3fa7dc;
}
.line-group {
  display: block;
  padding-left: 10px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
}
.line-group > li {
  position: relative;
  box-sizing: border-box;
  line-height: 34px;
  border-top: 1px dotted #dddddd;
}
.line-group > li > a {
  display: block;
  font-size: 14px;
}
.line-group > li > a > b {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 10px;
  left: 0;
  background: url(../img/icon-choose-off.png) no-repeat center;
  background-size: contain;
}
.line-group > li > a > em {
  margin-left: 20px;
  color: #999;
}
.line-group > li > a > span,
.line-group > li > a > samp,
.line-group > li > a > small {
  position: absolute;
  top: 0;
  right: 30px;
}
.line-group > li > a > samp {
  right: 10px;
}
.line-group > li > a > small {
  right: 10px;
  font-size: 12px;
}
.line-group > li > a .icon-next {
  width: 14px;
  height: 14px;
  right: 10px;
  top: 10px;
}
.line-group > li.active > a > b {
  background: url(../img/icon-choose-on.png) no-repeat center;
  background-size: contain;
}
.line-group > li.active > a > em {
  color: #3fa7dc;
}
.line-group > li:first-child {
  border-top: 0;
}
.dropdown-list .dropdown-item {
  margin-top: -1px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #dddddd;
}
.dropdown-list .dropdown-item .title {
  position: relative;
  padding-left: 10px;
  line-height: 34px;
  font-size: 14px;
}
.dropdown-list .dropdown-item > ul {
  display: block;
  padding-left: 10px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
  display: none;
  border-bottom: 0;
}
.dropdown-list .dropdown-item > ul > li {
  position: relative;
  box-sizing: border-box;
  line-height: 34px;
  border-top: 1px dotted #dddddd;
}
.dropdown-list .dropdown-item > ul > li > a {
  display: block;
  font-size: 14px;
}
.dropdown-list .dropdown-item > ul > li > a > b {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 10px;
  left: 0;
  background: url(../img/icon-choose-off.png) no-repeat center;
  background-size: contain;
}
.dropdown-list .dropdown-item > ul > li > a > em {
  margin-left: 20px;
  color: #999;
}
.dropdown-list .dropdown-item > ul > li > a > span,
.dropdown-list .dropdown-item > ul > li > a > samp,
.dropdown-list .dropdown-item > ul > li > a > small {
  position: absolute;
  top: 0;
  right: 30px;
}
.dropdown-list .dropdown-item > ul > li > a > samp {
  right: 10px;
}
.dropdown-list .dropdown-item > ul > li > a > small {
  right: 10px;
  font-size: 12px;
}
.dropdown-list .dropdown-item > ul > li > a .icon-next {
  width: 14px;
  height: 14px;
  right: 10px;
  top: 10px;
}
.dropdown-list .dropdown-item > ul > li.active > a > b {
  background: url(../img/icon-choose-on.png) no-repeat center;
  background-size: contain;
}
.dropdown-list .dropdown-item > ul > li.active > a > em {
  color: #3fa7dc;
}
.dropdown-list .dropdown-item > ul > li:first-child {
  border-top: 0;
}
.alert-filter {
  display: none;
  position: absolute;
  z-index: 200;
  top: 50px;
  left: 0;
  right: 0;
  padding: 10px;
  border-top: 1px solid #dddddd;
  background-color: #277eab;
}
.alert-filter > div {
  position: relative;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
}
.alert-filter > div select {
  padding-left: 10px;
  line-height: 20px;
  font-size: 12px;
}
.alert-filter > div > a {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 34px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 2px;
  background-color: #fff;
}
.alert-filter > div > a .icon-search {
  font-size: 14px;
  padding: 0 10px;
  background: url('../img/icon-search02.png') no-repeat center;
  background-size: contain;
}
.alert-content {
  padding: 10px;
}
.alert-content > ul {
  margin-top: 10px;
}
.alert-content > ul > p {
  text-align: center;
  color: #999;
}
.alert-content > ul > li {
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 10px;
}
.alert-content > ul > li .p01 {
  padding: 10px 10px 4px;
}
.alert-content > ul > li .p01 .l01 > p {
  line-height: 20px;
  font-size: 14px;
  color: #111;
}
.alert-content > ul > li .p01 .l01 > h5 {
  line-height: 16px;
  font-size: 12px;
  color: #999;
}
.alert-content > ul > li .p01 .l01 > h3 {
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  color: #111;
}
.alert-content > ul > li .p01 .l02 p {
  margin-top: 4px;
  line-height: 14px;
  font-size: 12px;
}
.alert-content > ul > li .p01 .l02 p > em {
  float: left;
  width: 60px;
  color: #999;
}
.alert-content > ul > li .p01 .l02 p > span {
  float: left;
  width: calc(100% - 80px);
  line-height: 14px;
}
.alert-content > ul > li .p01 .l02 p > span.alert-info {
  color: #3fa7dc;
}
.alert-content > ul > li .p01 .l02 p > span.alert-main {
  color: #aa314d;
}
.alert-content > ul > li .p01 .l02 p > span.alert-detail {
  color: #111;
}
.alert-content > ul > li .p02 {
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #f1f1f1;
}
.alert-content > ul > li .p02 > a {
  position: relative;
  display: block;
  padding: 0 10px;
  color: #111;
  font-size: 12px;
}
.alert-content > ul > li .p02 > a .icon-next {
  top: 8px;
  right: 10px;
  width: 14px;
  height: 14px;
}
.alertdetail-content {
  padding: 10px;
  background-color: #fff;
}
.alertdetail-content > h3 {
  text-align: center;
  font-size: 18px;
}
.alertdetail-content > p {
  margin-top: 12px;
  line-height: 16px;
  font-size: 14px;
}
.alertdetail-content > p > em {
  float: left;
  width: 70px;
  color: #999;
  text-align: right;
}
.alertdetail-content > p > span {
  float: left;
  width: calc(100% - 80px);
  color: #333;
}
.record-content > div > h3 {
  line-height: 26px;
  text-align: center;
  font-size: 16px;
}
.record-content > div > div {
  position: relative;
  width: 100%;
  height: calc(100% - 26px);
  background-color: #fff;
}
.record-content > div > div > a {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.record-content > div > div > div {
  width: 100%;
  height: 100%;
}
.record-content .p01 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(50% - 15px);
  height: calc(50% - 15px);
}
.record-content .p02 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(50% - 15px);
  height: calc(50% - 15px);
}
.record-content .p03 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: calc(50% - 15px);
  height: calc(100% - 20px);
}
.record-line .line {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #dddddd;
}
.record-line .line > em {
  font-size: 14px;
}
.record-line .line > span {
  position: absolute;
  right: 34px;
}
.record-line .line > i {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 14px;
  height: 14px;
}
.record-line .line:first-child {
  border-top: 1px solid #dddddd;
}
.record-line .line.level01 {
  color: #91c7ae;
}
.record-line .line.level02 {
  color: #d48265;
}
.record-line .line.level03 {
  color: #61a0a8;
}
.record-line .line.level04 {
  color: #2f4554;
}
.record-line .line.level05 {
  color: #c23531;
}
#totalRecord {
  height: 220px;
}
#totalRecord.mini-total {
  height: 100%;
}
.dayrecord-content {
  padding: 10px;
  background-color: #fff;
}
.dayrecord-content .dropdown-list {
  margin-top: 10px;
}
.weekrecord-content {
  padding: 10px;
  background-color: #fff;
}
.weekrecord-content .weekrecord {
  height: 400px;
}
.weekrecord-content .weekrecord-list > table {
  width: 100%;
  line-height: 24px;
  text-align: center;
}
.weekrecord-content .weekrecord-list > table > thead {
  font-size: 14px;
  background-color: #f1f1f1;
}
.weekrecord-content .weekrecord-list > table > tbody > tr:nth-child(even) {
  background-color: #f1f1f1;
}
.weekrecord-content .weekrecord-list > table > tbody th {
  font-size: 14px;
}
.weekrecord-content .weekrecord-list > table > tbody td {
  font-size: 12px;
}
.monthrecord-content {
  padding: 10px;
  background-color: #fff;
}
.monthrecord-content .monthrecord {
  height: 600px;
}
.monthrecord-content .monthrecord-list > table {
  width: 100%;
  line-height: 24px;
  text-align: center;
}
.monthrecord-content .monthrecord-list > table > thead {
  font-size: 14px;
  background-color: #f1f1f1;
}
.monthrecord-content .monthrecord-list > table > tbody > tr:nth-child(even) {
  background-color: #f1f1f1;
}
.monthrecord-content .monthrecord-list > table > tbody th {
  font-size: 14px;
}
.monthrecord-content .monthrecord-list > table > tbody td {
  font-size: 12px;
}
.equipment-content .tabs {
  margin-top: 10px;
}
.equipment-content .tabs .title > li .icon-refresh {
  display: inline-block;
  vertical-align: middle;
  padding: 2px;
  width: 16px;
  height: 16px;
  background: url('../img/icon-refresh.png') no-repeat center center;
  background-size: contain;
  background-origin: content-box;
}
.personal-content .dropdown-list {
  background-color: #fff;
}
/*# sourceMappingURL=pages.css.map */