<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="max-age=14400">
    <title>日报</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/pages.css" />
    <script src="../js/jquery-2.2.1.js"></script>
    <script src="../js/echarts.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <a class="header-left icon-back"></a>
            <h3>日报</h3>
        </div>
        <div class="content dayrecord-content">
            <div class="dayrecord" id="dayRecord"></div>
            <div class="dropdown-list">
                <div class="dropdown-item">
                    <h3 class="title" data-status="0">等级1<i class="icon-bottom"></i></h3>
                    <ul>
                        <li>
                            <a href="javascript:;"><em>报警标题</em><span>2017-01-01 00:00:00</span><i class="icon-next"></i></a>
                        </li>
                        <li>
                            <a href="javascript:;"><em>报警标题</em><span>2017-01-01 00:00:00</span><i class="icon-next"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown-item">
                    <h3 class="title" data-status="0">等级2<i class="icon-bottom"></i></h3>
                    <ul>
                        <li>
                            <a href="javascript:;"><em>报警标题</em><span>2017-01-01 00:00:00</span><i class="icon-next"></i></a>
                        </li>
                        <li>
                            <a href="javascript:;"><em>报警标题</em><span>2017-01-01 00:00:00</span><i class="icon-next"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown-item">
                    <h3 class="title" data-status="0">等级3<i class="icon-bottom"></i></h3>
                    <ul>
                        <li>
                            <a href="javascript:;"><em>报警标题</em><span>2017-01-01 00:00:00</span><i class="icon-next"></i></a>
                        </li>
                        <li>
                            <a href="javascript:;"><em>报警标题</em><span>2017-01-01 00:00:00</span><i class="icon-next"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown-item">
                    <h3 class="title" data-status="0">等级4<i class="icon-bottom"></i></h3>
                    <ul>
                        <li>
                            <a href="javascript:;"><em>报警标题</em><span>2017-01-01 00:00:00</span><i class="icon-next"></i></a>
                        </li>
                        <li>
                            <a href="javascript:;"><em>报警标题</em><span>2017-01-01 00:00:00</span><i class="icon-next"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer footer-sty01">
            <ul class="clearfix">
                <li><a href="../index.html">首页</a></li>
                <li><a href="alertList.html">通知</a></li>
                <li><a href="record.html">报告</li>
                <li><a href="personalInfo.html">我的</li>
            </ul>
        </div>
    </div>
    <script src="../js/common.js"></script>
    <script src="../js/pages.js"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('dayRecord'));

        // 指定图表的配置项和数据
        var option = {
            title : {
                show: false
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            // legend: {
            //     x : 'center',
            //     y : 'bottom',
            //     data:['等级1','等级2','等级3','等级4','等级5']
            // },
            calculable : true,
            series : [
                {
                    name:'警报',
                    type:'pie',
                    radius : [20, '80%'],
                    center : ['50%', '50%'],
                    roseType : 'area',
                    label: {
                        normal: {
                            show: true
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    lableLine: {
                        normal: {
                            show: true
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    data:[
                        {value:5, name:'等级1'},
                        {value:2, name:'等级2'},
                        {value:5, name:'等级3'},
                        {value:5, name:'等级4'},
                        {value:1, name:'等级5'}
                    ]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    </script>
</body>

</html>
