<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="max-age=14400">
    <title>通知</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/pages.css" />
    <script src="../js/jquery-2.2.1.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <a class="header-left icon-back"></a>
            <h3>通知</h3>
        </div>
        <div class="content noticedetail-content">
            <h3>这里是标题</h3>
            <p class="clearfix">
                <em>其他：</em>
                <span>其他内容</span> 
            </p>
            <p class="clearfix">
                <em>其他：</em>
                <span>其他内容</span> 
            </p>
            <p class="clearfix">
                <em>其他：</em>
                <span>其他内容</span> 
            </p>
            <p class="clearfix">
                <em>其他：</em>
                <span>其他内容</span> 
            </p>
        </div>
        <div class="footer footer-sty01">
            <ul class="clearfix">
                <li><a href="../index.html">首页</a></li>
                <li><a href="notification.html">通知</a></li>
                <li><a href="record.html">报告</li>
                <li><a href="personalInfo.html">我的</li>
            </ul>
        </div>
    </div>
    <script src="../js/common.js"></script>
    <script src="../js/pages.js"></script>
</body>

</html>
