<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="max-age=14400">
    <title>周报</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/pages.css" />
    <script src="../js/jquery-2.2.1.js"></script>
    <script src="../js/echarts.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <a class="header-left icon-back"></a>
            <h3>周报</h3>
        </div>
        <div class="content weekrecord-content">
            <div class="weekrecord" id="weekRecord"></div>
            <div class="weekrecord-list">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>等级1</th>
                            <th>等级2</th>
                            <th>等级3</th>
                            <th>等级4</th>
                            <th>等级5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr onclick="javascript:window.location.href='dayRecord.html';">
                            <th>周一</th>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr onclick="javascript:window.location.href='dayRecord.html';">
                            <th>周二</th>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr onclick="javascript:window.location.href='dayRecord.html';">
                            <th>周三</th>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr onclick="javascript:window.location.href='dayRecord.html';">
                            <th>周四</th>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr onclick="javascript:window.location.href='dayRecord.html';">
                            <th>周五</th>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr onclick="javascript:window.location.href='dayRecord.html';">
                            <th>周六</th>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr onclick="javascript:window.location.href='dayRecord.html';">
                            <th>周日</th>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer footer-sty01">
            <ul class="clearfix">
                <li><a href="../index.html">首页</a></li>
                <li><a href="alertList.html">通知</a></li>
                <li><a href="record.html">报告</li>
                <li><a href="personalInfo.html">我的</li>
            </ul>
        </div>
    </div>
    <script src="../js/common.js"></script>
    <script src="../js/pages.js"></script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('weekRecord'));
        var option = {
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                x : 'center',
                y : 'top',
                data:['等级1','等级2','等级3','等级4','等级5']
            },
            grid: {
                left: '3%',
                right: '4%',
                top: '8%',
                bottom: '4%',
                containLabel: true
            },
            xAxis:  {
                type: 'value'
            },
            yAxis: {
                type: 'category',
                data: ['周一','周二','周三','周四','周五','周六','周日']
            },
            series: [
                {
                    name: '等级1',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: [1, 2, 3, 4, 5, 6, 7]
                },
                {
                    name: '等级2',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: [1, 2, 3, 4, 5, 6, 7]
                },
                {
                    name: '等级3',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: [1, 2, 3, 4, 5, 6, 7]
                },
                {
                    name: '等级4',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: [1, 2, 3, 4, 5, 6, 7]
                },
                {
                    name: '等级5',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: [1, 2, 3, 4, 5, 6, 7]
                }
            ]
        };
        myChart.setOption(option);
    </script>
</body>

</html>
